.see-about-us {
  padding-top: 35px;
  padding-bottom: 70px;
}

.see-about-us__title {
  @include font(24, 29);
  position: relative;
  margin: 0;
  margin-bottom: 52px;
  font-family: "SF Pro Text", "Arial", sans-serif;
  font-weight: 500;
  color: #222222;
  letter-spacing: -0.7px;

  &::after {
    @include pseudo-elem;
    right: 0;
    top: 18px;
    width: calc(100% - 310px);
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.see-about-us__links {
  @include list-reset;
  display: flex;
}

.see-about-us__link {
  @include font(16, 19);
  font-family: "SF Pro Display", "Arial", sans-serif;
  color: #4d4d4d;

  &:first-child {
    margin-right: 121px;

    a {
      color: $red-color;

      svg {
        fill: $red-color;
      }

      span {
        &::after {
          background-color: $red-color;
        }
      }
    }
  }

  &:nth-child(2) {
    margin-right: 150px;
  }

  a {
    @include not-hover;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      @include hover;
      opacity: 0.5;
    }
  }

  span {
    position: relative;
    &::after {
      @include pseudo-elem;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: #4d4d4d;
    }
  }

  svg {
    flex-shrink: 0;
    margin-left: 7px;
    transform: rotate(-90deg);
    fill: #4d4d4d;
  }
}

@media (max-width: $desktop-min-width - 1) {
  .see-about-us {
    padding-bottom: 35px;
  }

  .see-about-us__link {
    @include font(14, 18);

    a {
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: $desktop-width - 1) {
  .see-about-us__links {
    justify-content: space-between;

    .see-about-us__link {
      margin-right: 0;
    }
  }
}

@media (max-width: 900px) {
  .see-about-us__links {
    flex-direction: column;
  }

  .see-about-us__link {
    @include font(16, 19);
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet-width - 1) {
  .see-about-us {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .see-about-us__title {
    @include font(20, 24);
    margin-bottom: 20px;

    &::after {
      display: none;
    }
  }

  .see-about-us__link {
    @include font(14, 18);
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      text-decoration: underline;
      text-decoration-skip-ink: none;

      &::after {
        display: none;
      }
    }
  }
}
