$style-change-duration: 0.3s;

$desktop-wide-width: 1440px;
$desktop-width: 1200px;/* 1200-1339рх */
$desktop-min-width: 1024px; /* 1024-1199рх */
$tablet-width: 768px; /* 768-1023 рх */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$red-color: #d2001c;
$yellow-color: #fed600;
$grey-color: #bdbdbd;
